@model User
        <form method="post" asp-area="" asp-controller="Auth" asp-action="Logout">
    <input value="Logout" type="submit" class="btn btn-sm" style="color:#fff;background-color:#1E60AA;" />
        </form>