@{
    Layout = "_AuthLayout";
}

@model RegisterDto

<div class="container mt-5">
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
            <div class="row d-flex justify-content-center align-items-center">
          
            <div class="col-lg-10">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user" method="post">
                     
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                
                                    <select asp-for="Firstname" class="form-control ">
                                        <option value="GLABAL">GLABAL</option>
                                        <option value="BDU">BDU</option>
                                        <option value="AZTU">AZTU</option>
                                        <option value="AZMIU">AZMIU</option>
                                        <option value="ADNSU">ADNSU</option>
                                    </select>

                                <span asp-validation-for="Firstname" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" asp-for="Lastname" class="form-control " id="exampleLastName"
                                       placeholder="Last Name">
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" asp-for="Email" class="form-control " id="exampleInputEmail"
                                   placeholder="Email Address">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" asp-for="Password" class="form-control "
                                       id="exampleInputPassword" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" asp-for="PasswordConfirmation" class="form-control "
                                       id="exampleRepeatPassword" placeholder="Repeat Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                        <hr>
                     <a href="/auth/login" class="text-center">Login</a>
                    </form>
               
                </div>
            </div>
        </div>
    </div>
</div>
</div>